{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Sahha services {% endblock title %}</title>
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="container">
{% block content %}
<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
    {% if user.is_authenticated %}
    <a class="p-2 text-dark" href="{% url 'account_logout' %}">Log Out</a>
    {% else %}
    <a class="p-2 text-dark" href="{% url 'account_login' %}">Log In</a>
    <a class="btn btn-outline-primary"
    href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    </nav>
{% endblock content %}
</div>
</body>
</html>

